/* Constants*/



:root {
    --NAVY-BLUE: #0A3D62;
    --OCEAN-BLUE: #3C8DAD;
    --SEAFOAM: #A6E1FA;
    --LOBSTER-RED: #C0392B;
    --PINE-GREEN:#1B4332;
    --MOSS-GREEN: #2D6A4F;
    --GRANITE-GRAY:#6C757D;
}

body {
    padding:0;
    margin:0;
    background-color: var(--SEAFOAM);
    font: normal normal normal 15px Consolas, sans-serif;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10vh auto 78vh;
    row-gap: 1px;
    column-gap: 2;
    text-align: center;
    justify-content: center;
}

/*Every direct child of the body, so all of my main components, nav, section etc*/
body > * {
    border: 2px solid;
    border-radius: 10px;
}

header {
    background-color: var(--OCEAN-BLUE);
    grid-column: span 2;
}

header a {
    text-decoration: none;
    color:black
}

.inner-header {
    background-color: var(--OCEAN-BLUE);
    grid-column: span 1;
}

section {
    background-color: var(--NAVY-BLUE);
    grid-column: span 2;
    align-content: center;
}

.inner-section {
    grid-column: span 3;
}

.img-banner {
    display: flex;
    grid-column: 1/5;
    height:100px;
    overflow: hidden;
}

.img-banner img {
    width: 100%;
    height:100%;
}

/*--------------------------NAV---------------------------*/

nav {
    background-color: var(--NAVY-BLUE);
    grid-row: 3/4;
}

.nav-links {
    list-style: none;
    padding:0px;
}

.nav-links a {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--SEAFOAM);
    font-size: larger;
}

aside {
    background-color: var(--MOSS-GREEN);
    grid-row: 3/4;
    grid-column: 4/5;
    border-style: dashed;
    justify-items: center;
}

#form-button {
    background-color: #C0392B;
    border: 1px solid #78251c;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px var(--PINE-GREEN);
    width: 180px;
}

#form-button a {
        text-decoration: none;
}

#content {
    background-color: var(--LOBSTER-RED);
    grid-row: 3/4;
    grid-column: 2/4;
    overflow: hidden;
    justify-items: center;
}

#content p {
    font-weight:700;
    font-size: larger;
    color: white
}

#welcome-img {
    display: flex;
}
#welcome-img img {
    width:900px;
    height:300px;
    border-radius: 5px;
}

table {
    border: 5px solid black;
    color:white

}

table td {

    border: 1px solid black;
}

table th {
    border: 3px dashed black;
}

#newsletter {
    background-color: #78251c;
    display: grid;
    padding:10px;
    text-align: left;
    gap:1rem;
}

#newsletter label {
    width: 1px;
    text-align: left;
    padding-right:50px;
}

#newsletter input {
    width: 200px;
}

input {
    width: 1000px;
}

